
<nav class="navbar navbar-expand navbar-dark bg-light mb-4">
    <div class="container">
      <img src="../../../img/anb-logo.png" width="40" height="32">
        <a routerLink="/" class="navbar-brand d-flex flex-align-center mb-3 mb-md-0 me-md-auto text-dark "><span class=" fs-4">ANB Property Solutions</span></a>
            
    </div>
    <ul class="navbar-nav sticky-top d-flex flex-wrap justify-content-left py-3 mb-4 text-dark">
        <li class="nav-item  "><a routerLink="/" class="nav-link text-dark" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">Home</a></li>
        <li class="nav-item "><a routerLink="/about" class="nav-link text-dark" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">About Us</a></li>
        <li class="nav-item "><a routerLink="/painting" class="nav-link text-dark" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">Painting</a></li>
        <li class="nav-item "><a routerLink="/repair-install" class="nav-link text-dark" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}" >Repair & Installation</a></li>
        <li class="nav-item "><a routerLink="/contact-us" class="nav-link text-dark" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}" >Contact Us</a></li>
    
    </ul>
</nav>
